{% extends "base.html" %}
{% block content %}
<h2>{{data.page}}</h2>
<div class="about">
    <img src="static/team_work.png" alt="team work"> 
    <p>This project is the result of our MLOps training in partnership with the Datascientest Institute.<br>
        The objective of the training is to make data scientists operational in production and deployment of models.<br>
        We see many working methods and tools related to data engineering:</p>
    <ul>
        <li>Advanced programming with Python</li>
        <li>Bash Linux</li>
        <li>Code versioning with Git and GitHub</li>
        <li>unit tests</li>
        <li>Securing and creating APIs with FastAPI and Flask</li>
        <li>Containerization with Docker</li>
        <li>Automation with AirFlow and MLFlow</li>
        <li>...</li>
    </ul>
    <p>Who are we?<br>
        We are Jérémy, Julien and Victor. With different backgrounds and professional experiences, we have put our strengths together to achieve this ambitious project.</p>
    <p>Do not hesitate to contact us via our LinkedIn profiles which you will find the links at the bottom of the page.</p>
</div>
{% endblock %}