{% extends "base.html" %}
{% block content %}
<h2>{{data.page}}</h2>
<div class="illustration">
    <img src="static/energy_production.jpg" alt="energy production drawing">
    <p><strong>Welcome to our web application!</strong></p>
    <p>You will find on these few pages a presentation of the dataset, an interactive statistical exploration as well as the predictions of the VAR model.</p>
    <p>This application is hosted on the GCP cloud. It is composed of different FastAPI micro-services containerized with Docker.<br>
        The complete code is open-source, you can view or even download it on our GitHub repository.</p>
    <p>To learn more about the VAR model, you can read this excellent article: <a href="https://datascientest.com/le-modele-var">datascientest.com/le-modele-var</a></p>
</div>
{% endblock %}