{% extends "base.html" %}
{% block content %}
<h2>{{data.page}}</h2>
<div class="predict_presentation">
    <p>This is where you are able to make predictions<br>
        Our model is a 'var', a multivariate algorithm.<br>
        It will not only predict the national demand for a certain given period, but also every other variables that were given to fit the model.<br>
        You must give the number of periods you want to predict (1period = half an hour).</p>
</div>
<p><strong>Please, give a number of period (integer).</strong></p>
<div class="form">
    <form method="post" action="/predict_call">
        <fieldset>
            <div>
                <legend>Write a number of periods:</legend>
                <p></p>
                <input type="number" id="period" name="nb_period" value="period" checked>
                <label for="period">Periods</label>
                <p></p>
            </div>
            <div>
                <input type="submit" value="Display the predictions">
            </div>
        </fieldset>
    </form>
    <div class="graph_predictions">
        <p></p>
        {% block graph_predictions %}
        {% endblock %}
    </div>
</div>
{% endblock %}
